.tarjetas {
	margin-top: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

.heroe {
	flex: none;
	display: flex;
	width: calc((100%  - 30px) / 3);
	background: #d9e7f8;
	margin: 5px;

}

.datos {
	display: inline-block;
	width: 95%;
	min-height: 140px;
}

.picture {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

@media only screen and (max-width: 900px) {

	.heroe {
		width: calc((100% - 20px) / 2);
	}
}

@media only screen and (max-width: 600px) {

	.heroe {
		width: calc((100% - 10px) / 1);
	}
}

@media only screen and (max-width: 400px) {

	.heroe {
		width: calc((100% - 10px) / 1);
	}
}