<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Expires" content="0">
  		<meta http-equiv="Last-Modified" content="0">
  		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  		<meta http-equiv="Pragma" content="no-cache">
		<title>Película</title>
		<link rel="StyleSheet" href="<?php echo BASE_URL.'public/css/style.css';?>" type="text/css" media="screen">
		<link rel="StyleSheet" href="<?php echo BASE_URL.'public/bootstrap/bootstrap.min.css';?>" type="text/css" media="screen">
	</head>
	<body>
		<header>
			<div class="navbar navbar-dark bg-dark shadow-sm">
				<a href="<?php echo BASE_URL.'init';?>" class="navbar-brand d-flex align-items-center">
					Home
				</a>
				<a class="btn btn-outline-primary" href="<?php echo BASE_URL.'login/out';?>">Sign up</a>
			</div>
		</header>
		<section>
			<div class="container">
    			<div class="row">
        			<div class="col-md-12">
            			<div class="well well-sm">
							<div id="mensaje" class="alert alert-danger"></div>
							<form  class="form-horizontal" id="movie" data-method="<?php echo $this->method;?>">
								<fieldset>
                        			<legend class="text-center header">Película</legend>
                        			<hr>
                        			<div class="form-group">
										<input type="hidden" id="id" name="id" value="<?php echo $this->result[0]['id'];?>">
										<label for="title" class="control-label">
											Título
										</label>
										<input class="form-control" type="text" id="title" name="title" value="<?php echo $this->result[0]['title'];?>" required <?php echo $this->method == 'index' ? 'readonly' : '';?> >
									</div>
									<div class="form-group">
										<label for="synopsis" class="control-label">
											Sinopsis
										</label>
										<textarea class="form-control" id="synopsis" name="synopsis"><?php echo $this->result[0]['synopsis'];?></textarea>
									</div>
									<div class="form-group">
										<label for="year" class="control-label">
											Año
										</label>
										<input class="form-control" type="text" id="year" name="year" value="<?php echo $this->result[0]['year'];?>" required <?php echo $this->method == 'index' ? 'readonly' : '';?> >
									</div>
									<div class="form-group">
										<div class="col-md-12 text-center">
											<input class="btn btn-primary btn-lg" type="button" id="guardar" name="guardar" value="<?php echo $this->action;?>">
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="<?php echo BASE_URL.'public/js/movie.js';?>"></script>
	</body>
</html>